# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/
.env/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
Desktop.ini

# Intermediate video files
*.mov
*.mp4

# Logs and reports
*.log

# ExifTool backup files
*.jpg_original
*.mov_original
*.mp4_original

# IDE / editor settings
.vscode/
.idea/
*.iml
